<!DOCTYPE html>
<html>
{{> head }}
<body>
<div class="page-container">
    <div class="page-content">
        <header class="page-header">
            <hgroup>
                <h1 class="page-header-title">
                    <a href="/">selbekk</a>
                </h1>
                <h2 class="page-header-subtitle">node. frontend. mad science.</h2>
            </hgroup>
        </header>
        {{{ body }}}
    </div>
    <footer class="page-footer">
        <section class="page-footer-content">
            <p>
                Words by <a href="mailto:selbeezy@gmail.com">Kristofer Selbekk</a>.
                <a href="https://www.github.com/selbekk">GitHub</a> -
                <a href="https://www.twitter.com/selbekk">Twitter</a> -
                <a href="https://no.linkedin.com/in/selbekk">LinkedIn</a>. Thank you for stopping by, San Diego.
            </p>
        </section>
    </footer>
</div>
</body>
</html>
