<!DOCTYPE html>
<html>
    {{> head }}
    <body>
        <div class="page-container">
            <div class="page-content">
                <header class="page-header">
                    <hgroup>
                        <h1 class="page-header-title">selbekk</h1>
                        <h2 class="page-header-subtitle">node. frontend. mad science.</h2>
                    </hgroup>
                </header>
                {{{ body }}}
            </div>
        </div>
    </body>
</html>
