<section class="article-list">
    <header class="article-list-header">
        <h2>Category: {{ title }}</h2>
    </header>
    {{#each articles }}
        <article class="article">
            <header class="article-header">
                <h3 class="article-title">
                    <a href="/{{ slug }}" class="article-title-link">{{ title }}</a>
                </h3>
            </header>
            {{{ body }}}
        </article>
    {{/each}}
</section>