<section class="article-list">
    {{#each articles }}
        <article class="article">
            <header class="article-header">
                <h1 class="article-title">
                    <a href="/{{ slug }}" class="article-title-link">{{ title }}</a>
                </h1>
            </header>
            {{{ body }}}
        </article>
    {{/each}}
</section>