.article-list-header {
  font-size: 3rem;
}

.article {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 1.2rem;
}

.article-title {
  font-family: @font-header;
  font-size: 2rem;
}

.article-title-link {
  color: @color-text;
  text-decoration: none;
}