.page-header {
  text-align: center;
  line-height: 1;
  padding: 2rem 0;
}

.page-header-title {
  font-family: @font-header;
  font-size: 6rem;
  font-weight: normal;
}

.page-header-subtitle {
  color: @color-light-gray;
  font-family: @font-sub-header;
  font-size: 1.2rem;
  font-weight: 300;
}